*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
   
}
.container{
    display: flex;
   align-items: center;
 background-color: #1B1E66;
color: lightblue;
}

/* Text Content */
.sec1{
    margin: 100px;
    
}

.sec1 h1{ 
font-size: 48px;
margin-bottom: 30px;
line-height: 50px;
}

.sec1 p{
    font-size: 30px;
    margin-bottom: 30px;
  line-height: 40px;
}

.book-ride{
    width: 200px;
    height: 50px;
    color: rgb(0, 0, 0);
    background-color: white;
    border: none;
    font-size: 20px;
  border-radius: 10px;
   font-weight: 600;
   cursor: pointer;
}

.book-ride:hover{
    background-color: #007bff;
    color: white;
    transition: .5s ;
}

/* Image Content */
 .sec2{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    max-width: 40%;
    align-items: center;
    justify-content: center;
 
    
 }



.sec2 div {
    flex: 0 0 calc(50% - 90px);
    display: flex;
    justify-content: center;    
}

.sec2 div img{
    width: 280px;
    /* max-width: 280px; */
    height: 180px;
    margin: 10px;
    border-radius: 20px;
    object-fit: cover;
} 


